
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="container-base">
    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Cadastro de Sistemas
            </div>
        </div>

        <div class="form-page">
            <div class="row">
                <div class="group-row">
                    <label>Sistema</label>
                    <input type="text" />
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <input type="submit" value="Salvar" class="btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>